{% extends "pages/base.html" %}

{% block content %}
<h2>
  {% if mode == "update" %}
    Update Article
  {% else %}
    Create Article
  {% endif %}
</h2>

<form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <p>
    {{ form.title.label_tag }}<br>
    {{ form.title }}
    {{ form.title.errors}}
  </p>

  <p>
    {{ form.body.label_tag }}<br>
    {{ form.body }}
    {{ form.body.errors }}
  </p>

  <p>
    {{ form.author_name.label_tag }}<br>
    {{ form.author_name }}
    {{ form.author_name.errors }}
  </p>

  <button type="submit">
    {% if mode == "update" %}
      更新
    {% else %}
      作成
    {% endif %}
  </button>

</form>

{% endblock %}