{% extends "pages/base.html" %}

{% block content %}

<h1>Update Article</h1>

<p>
    投稿者: {{ article.user.username }}
</p>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Update
    </button>
</form>

<p>
    <a href="{% url 'pages:article_list' %}">
        一覧へ戻る
    </a>
</p>

<hr>

<section>
    <h2>Danger Zone</h2>

    <p>
        この操作は記事を削除します
    </p>

    <p>
        <a href="{% url 'pages:article_delete' article.pk %}">
            Delete Article
        </a>
    </p>
</section>

{% endblock %}
